<div class="container">
  <h2>{{casinoGame.name}} </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{casinoGame.name}}</td>
        <td>
            <form method="POST" action="/casinoGames/{{_id}}">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>