<div class="container above-masthead">
  	<div class="row">
  		<div class="col-xs-1"></div>
  		<div class="col-xs-10 title-col">
			<h1>{{title }}</h1>
  			<p>Welcome to {{title }}</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>

<div class="masthead-container container">
  	<div class="row">
  		<div class="col-xl-12 masthead">
  		</div>
  	</div>
</div>

<div class="container">
  	<div class="row">
  		<div class="col-xs-12 promos">
        <div class="row">
          <div class="col-xs-6 promo"></div>
          <div class="col-xs-6 promo"></div>
        </div>
  		</div>
  	</div>
</div>