body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  @media(max-width: 550px) {
  	// padding: 50px 0px;
  }
}

.navbar {
	margin: 0;
	border-radius: 0px;
	// background-color: black;
	// color: white;
}

.display-none {
	display: none;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.m0 {
	margin: 0;
}

.p0 {
	padding: 0;
}

.mr1 {
	margin-right: 6px;
}

.mr2 {
	margin-right: 12px;
}

.ml1{
	margin-left: 6px;
}

.ml2{
	margin-left: 12px;
}

.pr1 {
	padding-right: 6px;
}

.pl1 {
	padding-left: 6px;
}

.pl2 {
	padding-left: 12px;
}

.timesheet-total-hours-row {
	background-color: #F08080!important;
}

.container {
	width: 100%;
}

.masthead, .promo {
	height: 795px;
	margin: auto;
}

.above-masthead {
	background-color: black;
	color: white;
}

.masthead {
	background-image: url("../img/roulette.png");
}

.alert {
	margin-bottom: 0px;
}

.promo {
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	background-color: black;
	box-shadow: 0 10px 8px 0 rgba(255, 255, 255, 0.5), 0 10px 20px 0 rgba(255,255,255,0.1);
}

.footer {
	position: relative;
	bottom: 0;
	height: 250px;
	width: 100%;
	background-color: black;
}