<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>New Casino Game</h1></div>
</div>
<br>
<form method="POST" action="/casinoGames/new">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="gamename-input" class="col-sm-2">Game Name</label>
        <div class="col-sm-6">
            <input type="text" name="name" class="form-control" id="gamename-input" placeholder="Game Name" autofocus>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Create Game</button>
    </div>

</form>
