body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.google-calendar-container {
  width: 90%;
  padding-top: 20px;
  margin: auto; }

.google-calendar {
  height: 800px;
  width: 100%; }
