<div class="calendar-container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="cal-month align-center">
				<h2>Month YYYY</h2>
			</div>
			<table class="calendar">
			{{!-- <div class="row"> --}}
				{{!-- <div class="col-xs-12"> --}}
				<tr class="cal-head align-center">
					<td>Su</td>
					<td>Mo</td>
					<td>Tu</td>
					<td>We</td>
					<td>Th</td>
					<td>Fr</td>
					<td>Sa</td>
				</tr>
				<tr class="week week1">
					<td class="day">
						<div class="row day-num">
							<div class="col-xs-1">
								<span>1</span>
							</div>
						</div>
						<div class="row day-event">
							<div class="col-xs-3">
								<div data-js="event-start-time">7pm</div>
								<div>-</div>
								<div data-js="event-end-time">11pm</div>
							</div>
							<div class="col-xs-3"><div data-js="event-name">Event 1</div></div>
							<div class="col-xs-3"><div data-js="event-city">Chicago</div></div>
						</div>
					</td>

					<td class="day">-</td>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
				</tr>
				<tr class="week week2">
					<td class="day">6</td>
					<td class="day">7</td>
					<td class="day">8</td>
					<td class="day">9</td>
					<td class="day">10</td>
					<td class="day">11</td>
					<td class="day">12</td>
				</tr>
				<tr class="week week3">
					<td class="day">13</td>
					<td class="day">14</td>
					<td class="day">15</td>
					<td class="day">16</td>
					<td class="day">17</td>
					<td class="day">18</td>
					<td class="day">19</td>
				</tr>
				<tr class="week week4">
					<td class="day">20</td>
					<td class="day">21</td>
					<td class="day">22</td>
					<td class="day">23</td>
					<td class="day">24</td>
					<td class="day">25</td>
					<td class="day">26</td>
				</tr>
				<tr class="week week5">
					<td class="day">27</td>
					<td class="day">28</td>
					<td class="day">29</td>
					<td class="day">30</td>
					<td class="day">31</td>
					<td class="day">-</td>
					<td class="day">-</td>
				</tr>
			</table>
				{{!-- </div> --}}
			{{!-- </div> --}}
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>