<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 align-center"><h1>Forgot Password</h1></div>
</div>
<br>
<br>
<form method="POST" action="/users/new">
    <div class="form-group row">
        <div class="col-sm-4"></div>
        {{!-- <label for="username-input" class="col-sm-2">Username or Email</label> --}}
        <div class="col-sm-4 align-center">
            <input type="text" name="username" class="form-control" id="username-input" placeholder="Username or Email" autofocus>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-4">Email Temp Password</button>
    </div>

</form>
