<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>New User</h1></div>
</div>
<br>
<form method="POST" action="/users/new">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="username-input" class="col-sm-2">Username</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control" id="username-input" placeholder="Username" autofocus>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="password-input" class="col-sm-2">Password</label>
        <div class="col-sm-6">
            <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="first-name-input" class="col-sm-2">First Name</label>
        <div class="col-sm-6">
            <input type="text" name="first_name" class="form-control" id="first-name-input" placeholder="First Name">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="last-name-input" class="col-sm-2">Last Name</label>
        <div class="col-sm-6">
            <input type="text" name="last_name" class="form-control" id="last-name-input" placeholder="Last Name">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="email-input" class="col-sm-2">Email</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" id="email-input" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="phone-input" class="col-sm-2">Phone</label>
        <div class="col-sm-6">
            <input type="text" name="phone" class="form-control" id="phone-input" placeholder="Phone (ex: 123-456-7890)">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="game-input" class="col-sm-2">Games</label>
        <div class="col-sm-6">
            <select data-placeholder="Choose some games" class="chosen-select form-control" name="games" multiple>
            <option value=""></option>
            {{#each games}}
                <option value={{_id}}>{{name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="is-active-input" class="col-sm-2">Is Active?</label>
        <div class="col-sm-6">
            <input type="checkbox" id="is-active-input" name="active" value="true" checked>&nbsp;Yes
        </div>
    </div>

    {{#if SESS_USER.is_admin}}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="rank-input" class="col-sm-2">Rank</label>
        <div class="col-sm-6">
            <input type="rank" name="rank" class="form-control" id="rank-input" maxlength="1" placeholder="Rank">
        </div>
    </div>
    {{/if}}

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Create User</button>
    </div>

</form>
