<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>New Client</h1></div>
</div>
<br>

<form method="POST" action="/clients/new">
    <div class="form-group row">
    <div class="col-sm-2"></div>
        <label for="first-name-input" class="col-sm-2">First Name</label>
        <div class="col-sm-6">
            <input type="text" name="first_name" class="form-control" id="first-name-input" placeholder="First Name" autofocus>
        </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-2"></div>
        <label for="last-name-input" class="col-sm-2">Last Name</label>
        <div class="col-sm-6">
            <input type="text" name="last_name" class="form-control" id="last-name-input" placeholder="Last Name">
        </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-2"></div>
        <label for="email-input" class="col-sm-2">Email</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" id="email-input" placeholder="Email">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Create Client</button>
    </div>

</form>
