<script type="text/javascript" src="/js/events/events.js"></script>
{{!-- <button type='button' data-js='add-all-events' class="btn btn-primary">Add All Events</button> --}}
{{!-- <div id="calendar"></div>

<div class="google-calendar-container">
	<iframe class="google-calendar" src="https://calendar.google.com/calendar/embed?src=22t9uds57rnql2chpe44nh2654%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" frameborder="0" scrolling="no"></iframe>
</div> --}}

{{> calendar}}

{{!-- <div class="calendar-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row container">
				<div class="col-xs-12">
					<div class="col-sm-1" style="background-color: blue">
						<p>Su</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>Mo</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>Tu</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>We</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>Th</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>Fr</p>
					</div>
					<div class="col-sm-1" style="background-color: blue">
						<p>Sa</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}