.user-show-table td, .user-show-table th {
	vertical-align: middle!important;
	text-align: center!important;
}

.user-games-list {
	list-style: none;
	padding: 0;

	li, li a {
		vertical-align: middle;
		text-align: center;
	}
}