.calendar-container {
  margin-top: 10px; }
  .calendar-container .cal-month {
    border: 2px solid black;
    vertical-align: center; }
    .calendar-container .cal-month button {
      vertical-align: center; }
  .calendar-container .calendar .week {
    min-height: 100px; }
  .calendar-container .calendar .day {
    min-height: 100px;
    vertical-align: top;
    height: 100px; }
    .calendar-container .calendar .day .day-event {
      border-bottom: 1px dotted black; }
  .calendar-container .cal-head {
    font-size: 20px; }
  .calendar-container .day {
    width: 14%;
    height: 20%; }
    .calendar-container .day .day-num {
      vertical-align: top;
      margin-bottom: 2px; }
    .calendar-container .day span {
      border-bottom: 2px solid black;
      border-right: 2px solid black; }
  .calendar-container tr td {
    border: 2px solid black; }
